body {
  font-family: "Roboto";
}


.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}


.header-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}


.header-list {
  display: flex;
  gap: 50px; 
}

.header-a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 0.2s;
}

.header-a:hover {
  color: #2196f3;
}


.header-mailto,
.header-tel {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  transition: color 0.2s;
}

.header-mailto:hover,
.header-tel:hover {
  color: #2196f3;
}



.main {
  padding-top: 94px;
  padding-bottom: 34px;
}


.main-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.main-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  cursor: pointer;
  transition: all 0.2s;
}

.main-btn:hover,
.main-btn:focus {
  background: #2196f3;
  color: #fff;
}



.information {
  padding-bottom: 114px;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 34px;
}

.info-li {
  width: 100%;
}

.info-img {
  width: 100%;
  height: auto;
}

.info-box {
  padding: 20px 24px 24px 20px;
}

.info-h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}

.info-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
}

.footer-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 9px;
}

.hotline {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-page {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.container {
  width: min(1200px, 100%);
  margin: 0 auto;
  padding-inline: 15px;
}
