body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding-inline: 15px;
  outline: 1px solid red;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 93px;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-div {
  display: flex;

  align-items: center;
}

.header-div:hover {
  color: #2196f3;
}

.header-svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.header-svgg {
  width: 10x;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.header-div:hover .header-svg {
  fill: #2196f3;
}

.header-div:hover .header-svgg {
  fill: #2196f3;
}

.header-div:hover .header-mailto,
.header-div:hover .header-tel {
  color: #2196f3;
}

.header-a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;

  position: relative;
  display: inline-block;
  color: #212121;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-a:hover {
  color: #2196f3;
}

.header-a:hover::after {
  transform: scaleX(1);
}

.header-a:hover,
.header-a:focus {
  color: #2196f3;
}

.header-mailto,
.header-tel {
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  transition: 0.2s;
}

.header-mailto:hover,
.header-tel:hover {
  color: #2196f3;
}

.main {
  padding-top: 94px;
  padding-bottom: 50px;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.main-list {
  display: flex;
  gap: 8px;
}

.main-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;

  padding: 6px 22px;

  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.information {
  padding-bottom: 114px;
}

.info {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  list-style: none;
}

.info-li {
  background: #ffffff;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
}

.info-li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.solo {
  position: relative;
  overflow: hidden;
}

.info-pa {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition-property: opacity  transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.solo:hover {
  
  .info-pa {
    opacity: 1;
   transform: translateY(0);
  }
  
} 

.info-h2 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 24px;
  line-height: 34px;
}

.info-p {
  font-size: 16px;
  color: #757575;
  margin-bottom: 20px;
  margin-left: 24px;
  line-height: 34px;
}

.info_img {
  width: 100%;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  align-items: baseline;
}

.footer .container {
  display: flex;
  
}

.footer-content {
  display: flex;
  
  width: 100%;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.footer-adr {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-mailto,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mailto:hover {
  color: #2196f3;
}

.footer-tel:hover {
  color: #2196f3;
}

.you {
  margin-left: 70px;
  margin-right: auto;
}

.footer-h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-ul {
  display: flex;
  flex-direction: row;

  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  list-style: none;
}

.footer-a-svg {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-a-svg:hover {
  background-color: #2196f3;
}

.footer-a-svg:hover .footer-svg {
  fill: #fff;
}

.footer-p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-place {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}

.footer-h5-place {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-ul-place {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li-place {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-input-place {
  border-radius: 4px;
  width: 358px;
  height: 50px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: none;
  background: transparent;
  color: #fff;
  padding: 0 10px;
}

.footer-input-place::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input-place:focus {
  outline: solid 1px #2196f3;
  border-color: #2196f3;
}

.footer-button-place {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.footer-svg-place {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

