body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.container {
  width: min(1200px, 100%);
  margin: 0 auto;
  padding-inline: 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 0.2s;
}

.header-a:hover,
.header-a:focus {
  color: #2196f3;
}

.header-mailto,
.header-tel {
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  transition: 0.2s;
}

.header-mailto:hover,
.header-tel:hover {
  color: #2196f3;
}

.main {
  padding-top: 94px;
  padding-bottom: 50px;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.main-list {
  display: flex;
  gap: 8px;
}

.main-btn {
  padding: 6px 22px;
  font-size: 16px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.main-btn:hover,
.main-btn:focus {
  background: #2196f3;
  color: #ffffff;
}

.information {
  padding-bottom: 114px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  justify-content: center;
  align-content: flex-end;
  
}

.info-li {
  background: #ffffff;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 8  * 30px) / 9); 
}

.info-img {
 
}


.info-li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}



.info-box {
 
}

.info-h2 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 24px;
  line-height: 34px;
}

.info-p {
  font-size: 16px;
  color: #757575;
  margin-bottom: 20px;
  margin-left: 24px;
  line-height: 34px;
  
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-location {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-page {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  transition: 0.2s;
}

.footer-page:hover {
  color: #2196f3;
}

.hotline {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
