.base {
  background: rgb(56, 56, 56);
  width: 1200px;
  height: 600px;
}

footer {
  background-color: rgb(39, 38, 38);
  width: 1200;
  height: 252;
}

address {
  color: rgb(255, 255, 255);
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  width: 145px;
  height: 31px;
}

.family {
  font-size: 44px;
  width: 696px;
  height: 120px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.button {
  color: rgb(255, 255, 255);
  background-color: blue;
  width: 216px;
  height: 50px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  width: 216px;
  height: 50px;
  margin-left: 500px;
  border-radius: 5px;
}
.ourt {
  font-weight: 700;
  font-size: 36px;
}


  /* position: absolute; */
  /* width: 366px;
  height: 42px; */
  /* top: 966px;
  left: 617px; */
  /* font-weight: 700;
  font-size: 36px; */
  /* line-height: 100%;
  letter-spacing: 0.03em;
  /* text-align: center; */


.uvaga h2 {
  width: 270px;
  height: 16px;
}

.uvaga p {
  font-weight: 400; 
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}


.chim {
  width: 366px;
  height: 42px;
  top: 966px;
  left: 617px;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
}

/* /* .img  {
    width: 370px;
    height: 294px;
    top: 1058px;
    left: 215px;
    
}

/* .container {
 
  border: solid black; 
  padding: 10px;        
  margin: 10px;           
  border-radius: 15px;
} 
/*  */
.ourt {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  size: 36px;
  color: #757575;
}

/* .container {
    width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid red;
}  */
.e {

  width: 45px;
  height: 16px;
  font-family: "Roboto", sans-serif;
  
}

.s {
  width: 72px;
  height: 16px;
  font-family: "Roboto", sans-serif;
}
.w {
  font-family: "Roboto", sans-serif;
  width: 64px;
  height: 16px;
}
