h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

*::before,
*::after {
  box-sizing: border-box;
}

textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

div {
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__container {
  display: flex;
  flex-direction: row;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-right: 4px;
  color: #2196f3;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: 93px;
  width: 100%;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: auto;
}
.header__navigation {
  position: relative;
  display: inline-block;
  color: #212121;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.header__navigation:hover {
  color: #2196f3;
}
.header__navigation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation:hover::after {
  transform: scaleX(1);
}
.header__svgpack {
  display: flex;
  align-items: center;
  position: relative;
}
.header__svgpack::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__svgpack:hover::after {
  transform: scaleX(1);
}
.header__svgpack:hover .header__firstsvgtype {
  fill: #2196f3;
}
.header__phonesvg {
  margin-left: 30px;
  position: relative;
}
.header__phonesvg:hover .header__secondsvgtype {
  fill: #2196f3;
}
.header__phonesvg::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__phonesvg:hover::after {
  transform: scaleX(1);
}
.header__firstsvgtype {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}
.header__secondsvgtype {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}
.header__mailto {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header__tel {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header__mailto:hover, .header__tel:hover {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../fotos/fon.png");
  text-align: center;
}
.hero__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFF;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  width: 216px;
  height: 50px;
  border-radius: 5px;
}
.hero__buttonbutton:hover {
  cursor: pointer;
}

.Uvahasec {
  padding-top: 94px;
  padding-bottom: 94px;
}

.Uvaga {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.Uvaga__text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
.Uvaga__detali::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("../fotos/group.png");
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
  animation-name: detali;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.Uvaga__punktualnist::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("../fotos/clock.png");
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
  animation-name: punktualnist;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.Uvaga__plan::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("../fotos/diagram.png");
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
  animation-name: plan;
  animation-delay: 2.5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.Uvaga__future::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url("../fotos/astronaut.png");
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  background-position: center;
  margin-bottom: 30px;
  animation-name: future;
  animation-delay: 2.8s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.Uvaga__about {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

@keyframes detali {
  0% {
    background-color: #f5f4fa;
  }
  50% {
    background-color: rgb(0, 217, 255);
  }
  100% {
    background-color: #f5f4fa;
  }
}
@keyframes punktualnist {
  0% {
    background-color: #f5f4fa;
  }
  50% {
    background-color: rgb(0, 255, 26);
  }
  100% {
    background-color: #f5f4fa;
  }
}
@keyframes plan {
  0% {
    background-color: #f5f4fa;
  }
  50% {
    background-color: rgb(200, 255, 0);
  }
  100% {
    background-color: #f5f4fa;
  }
}
@keyframes future {
  0% {
    background-color: #f5f4fa;
  }
  50% {
    background-color: rgb(60, 0, 255);
  }
  100% {
    background-color: #f5f4fa;
  }
}
.section2 {
  padding-bottom: 94px;
}
.section2__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.section2__headofthelist {
  display: flex;
  gap: 30px;
  list-style: none;
}
.section2__list {
  position: relative;
  overflow: hidden;
}
.section2__baground {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  padding: 27px 0;
  text-align: center;
}
.section2__foto {
  width: 100%;
  height: auto;
  display: block;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team__headofthelist {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 50px;
}
.team__card {
  width: 270px;
  border: 1px solid #e0e0e0;
  background-color: #FFF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding-bottom: 30px;
}
.team__foto {
  width: 270px;
  height: 260px;
  padding-bottom: 30px;
}
.team__text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}
.team__subtext {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 30px;
}
.team__svglist {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 32px;
}
.team__link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover {
  background-color: #2196f3;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover {
  fill: #FFF;
}
.team__link:hover .team__icon {
  fill: #FFF;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #FFF;
}
.clients__text {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 50px;
}
.clients__headofthelist {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__list {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: color border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list:hover {
  border-color: #2196f3;
}
.clients__list:hover .clients__link {
  color: #2196f3;
}
.clients__list:hover .clients__icon {
  fill: #2196f3;
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer__content {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #FFF;
}
.footer__mailto, .footer__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #FFF;
}
.footer__mailto:hover, .footer__tel:hover {
  color: #2196f3;
}
.footer__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 20px;
}
.footer__headofthelist {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover {
  background-color: #2196f3;
}
.footer__link:hover .footer__svg {
  fill: #FFF;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__join {
  margin-left: 70px;
  margin-right: auto;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}
.footer__subtext {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 20px;
}
.footer__sublist {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__input {
  border-radius: 4px;
  width: 358px;
  height: 50px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: none;
  background: transparent;
  color: #FFF;
  padding: 0 10px;
}
.footer__input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:focus {
  outline: solid 1px #2196f3;
  border-color: #2196f3;
}
.footer__button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.footer__telegaicon {
  width: 24px;
  height: 24px;
  fill: #FFF;
  margin-left: 10px;
}

.main {
  padding-top: 94px;
  padding-bottom: 50px;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.main-list {
  display: flex;
  gap: 8px;
}

.main-btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding: 6px 22px;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #2196f3;
  color: #FFF;
}

.information {
  padding-bottom: 114px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.info__card {
  background: #FFF;
  border: 1px solid #ECECEC;
  flex-basis: calc((100% - 60px) / 3);
}
.info__card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.info__incard {
  position: relative;
  overflow: hidden;
}
.info__incard:hover .info__text {
  opacity: 1;
  transform: translateY(0);
}
.info__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #FFF;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition-property: opacity transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.info__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 24px;
  line-height: 34px;
}
.info__subtitle {
  font-size: 16px;
  color: #757575;
  margin-bottom: 20px;
  margin-left: 24px;
  line-height: 34px;
}
.info__foto {
  width: 100%;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
}
.modal__window {
  transform: scale(1);
  position: relative;
  width: 528px;
  background-color: #FFF;
  padding-top: 41px;
  padding-left: 40px;
  padding-bottom: 39px;
  padding-right: 40px;
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__close:hover .modal__krest {
  fill: #2196f3;
}
.modal__title {
  margin-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.modal__krest {
  width: 11px;
  height: 11px;
}
.modal__input__wrap {
  position: relative;
}
.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__svg, .modal__input:focus + .modal__svg {
  color: #2196f3;
}
.modal__svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.modal__label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__textarea {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
.modal__textarea:focus {
  border-color: #2196f3;
}
.modal__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal__galochka {
  margin-right: 7px;
  border: 2px solid #212121;
  width: 16px;
  height: 16px;
}
.modal__checkboxtxt {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}
.modal__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
  margin-left: 4px;
}
.modal__submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #FFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is-hidden .modal-window {
  transform: scale(0);
}/*# sourceMappingURL=main.css.map */