
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.footer-adr {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-mailto,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mailto:hover {
  color: #2196f3;
}

.footer-tel:hover {
  color: #2196f3;
}

.footer-h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  list-style: none;
}

.footer-a-svg {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-a-svg:hover {
  background-color: #2196f3;
}

.footer-a-svg:hover .footer-svg {
  fill: #fff;
}




.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  align-items: baseline;
}

.footer .container {
  display: flex;
}

.footer-content {
  display: flex;
  width: 100%;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.footer-adr {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-mailto,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mailto:hover {
  color: #2196f3;
}

.footer-tel:hover {
  color: #2196f3;
}

.join {
  margin-left: 70px;
  margin-right: auto;
}

.footer-h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li {
  list-style: none;
}

.footer-a-svg {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-a-svg:hover {
  background-color: #2196f3;
}

.footer-a-svg:hover .footer-svg {
  fill: #fff;
}

.footer-place {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}

.footer-h5-place {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-ul-place {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-li-place {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-input-place {
  border-radius: 4px;
  width: 358px;
  height: 50px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: none;
  background: transparent;
  color: #fff;
  padding: 0 10px;
}

.footer-input-place::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}


.footer-input-place:focus {
  outline: solid 1px #2196f3;
  border-color: #2196f3;
}

.footer-button-place {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.footer-svg-place {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}