@use "../base/colors" as *;

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg;

  &__content {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
  }

  &__adr {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $main-color;
  }

  &__mailto,
  &__tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $main-color;

    &:hover {
      color: $accent-color;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
  }

  &__ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__li {
    list-style: none;
  }

  &__href {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $accent-color;
    }
    &:hover {
      .footer__svg {
        fill: $main-color;
      }
    }
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: $main-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer__join {
    margin-left: 70px;
    margin-right: auto;
  }

  &__place {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
  }

  &__sub {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
  }
  &__sublist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__subto {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    border-radius: 4px;
    width: 358px;
    height: 50px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    background: transparent;
    color: $main-color;
    padding: 0 10px;

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      outline: solid 1px $accent-color;
      border-color: $accent-color;
    }
  }

  &__button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
  }

  &__svgtelega {
    width: 24px;
    height: 24px;
    fill: $main-color;
    margin-left: 10px;
  }
}
