@use "../base/colors" as *;

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;

    @media screen and (min-width: 480px) {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.03em;
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.03em;
      margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
      text-align: justify;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $main-color;

    @media screen and (min-width: 480px) {
      margin-bottom: 60px;
    }
  }

  &__city {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;

    @media screen and (min-width: 480px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 1200px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.03em;
    }
  }

  &__mailto,
  &__tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: $main-color;

    @media screen and (min-width: 480px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.03em;
    }

    @media screen and (min-width: 1200px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.03em;
    }

    &:hover {
      color: $accent-color;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;

      margin-top: 65px;
    }

    @media screen and (min-width: 1200px) {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }

  &__headofthelist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $accent-color;
    }
    &:hover {
      .footer__svg {
        fill: $main-color;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $main-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__join {
    margin-left: 70px;
    margin-right: auto;

    @media screen and (min-width: 480px) {
      margin: 0;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 70px;
      margin-right: auto;
    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;

    @media screen and (min-width: 480px) {
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__subtext {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
  }

  &__sublist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
    }
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 480px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }

  &__input {
    border-radius: 4px;
    width: 358px;
    height: 50px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    background: transparent;
    color: $main-color;
    padding: 0 10px;

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      outline: solid 1px $accent-color;
      border-color: $accent-color;
    }
  }

  &__button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    text-align: center;
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
  }

  &__telegaicon {
    width: 24px;
    height: 24px;
    fill: $main-color;
    margin-left: 10px;
  }
}
