@use "../base/colors" as *; 


.team {
  background-color: $team-bg;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
  }

  &__headofthelist {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
  }

  &__card {
    width: 270px;
    border: 1px solid #e0e0e0;
    background-color: $main-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
    padding-bottom: 30px;
  }

  &__foto {
    width: 270px;
    height: 260px;
    padding-bottom: 30px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__subtext {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-color;
    margin-bottom: 30px;
  }

  &__svglist {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 32px;
  }


 

  &__link {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: $accent-color;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $client-border;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    fill:$main-color;

    .team__icon {
      fill: $main-color;
    }
  }
}
